[2016-03-17 23:25] ashcrow commented on #64
@goern are you looking more for use cases or how to stand up the service?

[2016-03-22 16:08] goern commented on #64
the first :)

[2016-03-22 17:30] ashcrow commented on #64
@goern sure, we can do that :smile: I'll add it to our backlog.

https://trello.com/c/neE0AFve/171-multi-host-mgr-update-documentation-with-use-cases

[2016-03-28 19:41] ashcrow commented on #64
I've added some update information with a few basic use cases. It should become a bigger list as time goes on. @goern does that work?

[2016-03-29 08:02] goern commented on #64
Cool, thx. So it is explicitly not used for kickstarting aka initial
provisioning the hosts?

--
Principal Software Engineer - Systems Design & Engineering
Mobile: +49 171 2801345

Red Hat GmbH, http://www.de.redhat.com/, Sitz: Grasbrunn,
Handelsregister: Amtsgericht München, HRB 153243,
Geschäftsführer: Paul Argiry, Charles Cachera, Michael Cunningham, Michael
O'Neill

[2016-03-29 13:39] ashcrow commented on #64
@goern correct. It expects something such as CloudForms, Katello, Satellite, or a cloud specific console to handle traditional host provisioning. Upon first boot is when commissaire takes care of registration with a container manager and operational commands.

Does that answer the questions?

[2016-04-05 01:42] mbarnes opened #87 "Docs should say something about flannel config"
I finally solved my CPU spikes and failed bootstraps.

The journal on the host machine was filled with:
[code]

Following https://coreos.com/flannel/docs/latest/flannel-config.html, I did:
[code]
and that solved it.

The **Getting Started** docs should say *something* about this, especially since the `/atomic01/network` etcd path is hard-coded.

[2016-04-05 02:00] mbarnes opened #88 "Restart (or reload) services during bootstrap"
After correcting for https://github.com/projectatomic/commissaire/issues/87, on host machines that were previously failing I've had to bootstrap them **twice** to get them to pick up the new flannel configuration from etcd.

The bootstrap playbook has:
[code]
But given that it just installed config files for these services and the services may already be running, don't we want `state: restarted` o

[2016-04-05 13:11] ashcrow commented on #88
I think ```state: restarted``` would be the safest. I'll have a PR shortly.

[2016-04-05 13:33] #88 closed

[2016-04-05 14:19] #87 closed

[2016-05-13 12:18] ibotty opened #120 "docs: clarify relation to openshift"
I cannot tell from the documentation whether commissaire is supposed to work with openshift. It would be great if it could.

[2016-05-13 12:23] ibotty opened #121 "is provisioning a new node when kubernetes load is high within scope?"
The readme says that initial provisioning is not a design goal of commissaire, but I was wondering whether something requiring tight integration with kubernetes (getting node load) wouldn't fit?

I have a crude container that watches node cluster load and (de)provisions computing nodes on demand. I would love to use something integrated/supported.

[2016-05-13 13:28] ashcrow commented on #120
Good note! It is supposed to be able to work with OpenShift and/or Kubernetes. I'll see what I can to clarify that in the documentation. Thank you for pointing it out!

[2016-05-13 13:49] ashcrow commented on #121
Tighter integration is something we'd like to add. In the nearer future we are planning on providing some of the node information by proxy through the commissaire API. In terms of the actual provisioning new hosts that gets a bit hairy as there are so many cloud providers (public and private).

One idea that comes to mind is possibly adding hooks in for events and a plug in system so that when **$

[2016-05-13 18:21] ashcrow commented on #120
@ibotty let me know if you think we need more changes to clarify that commissaire works with OpenShift.

Again, thank you for your feedback!

[2016-05-15 18:00] ibotty commented on #120
Yes. I addresses all points I asked for. It would be great to know whether other network overlays like openshift-sdn (or weave, or whatever else exists) work with commissaire. At least openshift-sdn is pretty tightly integrated with openshift, so it might make sense to support it in commissaire, because setting up openshift-sdn by itself is pretty much the same as adding the node anyway.

[2016-05-17 10:03] petervo opened #126 "Kubernetes storage engine"
When running commissaire as a pod in kubernetes/openshift I think it's reasonable to assume that 1) There will only ever be one cluster, and 2) Commissaire's and Kubernetes' view of the cluster should be identical at all times.

This got me thinking that perhaps in this mode we can eliminate the need for a separate etcd instance by having an alternate CherryPyStorePlugin class that instead of writ

[2016-05-17 14:36] ashcrow commented on #126
I think so as well. @mbarnes, weigh in here as well please.

Absolutely. Irregardless to the first point ending up being workable point two opens up data storage to other providers. :+1:

[2016-05-17 15:13] mbarnes commented on #126
Avoiding synchronization problems with (1) sounds like a win to me, though I don't know Kubernetes well enough to comment on the particulars.  Agree with @ashcrow on (2): worth doing regardless.

[2016-05-17 15:47] petervo commented on #126
Super, should I start I doc or a wiki page with some notes? Or is this a good place to discuss particulars?

[2016-05-17 15:51] ashcrow commented on #126
@petervo Wiki or here is fine ... I'll leave the decision up to you. We've done one spike via the Wiki and it worked well as well as discussing via issues.

[2016-05-18 13:31] ashcrow commented on #126
One thing that came to mind last night was that we do store more than just host/cluster data in etcd today. This doesn't negate the ability for points 1 and 2, but it's something to keep in mind as we design the updated ```CherryPyStorePlugin``` and implement the changes.

[2016-05-18 13:32] ashcrow commented on #120
At the moment we are working with ```Flannel```. However, I fully expect us to implement ```openshift-sdn``` integration since it is commonly used as well.

[2016-05-18 14:06] #120 closed

[2016-05-18 15:59] petervo commented on #126
What specifically were you thinking about?

[2016-05-18 16:08] ashcrow commented on #126
The main ones that come to mind:

- Authentication data (when not using Kubernetes/OpenShift or local file for auth)
- General configuration/Logging configuration (when stored external)
- Operation State (though we can probably replace data updates with API calls to Kubernetes)
- Global operations queue for HA and moving away from in server Operation Queue (Planned but not implemented)

I think th

[2016-05-22 17:49] ashcrow commented on #126
I'm going to create a template for proposals and then start fleshing out a ```CherryPyStoragePlugin``` document. @petervo please link the code you've been working with. I think that will help as we design this.

[2016-05-22 19:39] ashcrow commented on #126
- [Commissaire Proposal Document Template](https://github.com/projectatomic/commissaire/wiki/cpd_template)
- [CPD-1: The Process](https://github.com/projectatomic/commissaire/wiki/cpd-1)
- **WIP** [CPD-126: Pluggable Backend Storage](https://github.com/projectatomic/commissaire/wiki/cpd-126)

[2016-05-23 20:09] petervo commented on #126
Thanks for putting this together. I threw away what i'd done before as it really wasn't the direction i wanted to go.

I guess the question for for me is if we want to keep the same basic structure and just be more explicit about what we are getting / setting with appropriately named methods/arguments. Or if we want to take are more ORMy type approach where we are handing off classes/instances for

[2016-05-23 20:13] ashcrow commented on #126
@petervo not a problem. Keep us posted via this issue and we will figure it all out together :smile:

[2016-05-26 16:08] ashcrow commented on #126
[cpd-126](https://github.com/projectatomic/commissaire/wiki/cpd-126) is close to being finished. Feel free to start reviewing it early and commenting in this issue.

[2016-05-26 17:40] mbarnes commented on #126
Overall looks pretty good to me so far.

The arguments to `container_*` vs `internal_*` methods seem overly tailored for their defaults.  For example, what would I pass as the "pod_name" if I were using the `EtcdStorePlugin` for `container_*` methods?  Could we combine the "pod_name" and "annotation" such that all the methods just take a single key string?  (Or conversely, split `primary_key` into

[2016-05-26 17:42] petervo commented on #126
I'd suggesed not having to have the callers choose between internal and container, that can be left as an implementation detail.

What if instead the methods all take a kind argument from a list of contants. primary keys are then specific to that kind. Does that make sense? or should i write up a clearer wiki version of it?

[2016-05-26 17:50] petervo commented on #126
@mbarnes comment overlapped with mine. I think we are saying the same thing. ei second split up the primary key into "Kind" and "key"

[2016-05-26 17:57] mbarnes commented on #126
@petervo Can you give a couple examples of different "kinds"?

[2016-05-26 18:21] petervo commented on #126
Well i was thinking Host and Cluster, mostly. But i see that could be difficult as in the etcd case you need to cluster name to know where to store the host.

Although possibly we can solve that by having the 'key' that gets passed be an instance that would have all the data you would need to save it. ei:
[code]

There are downsides of course, all stores have be to know about all key types.

The g

[2016-05-26 19:47] mbarnes commented on #126
Yeah, I see what you're going for.

The instances you speak of to use as keys could perhaps be the model classes we already have in `/src/commissaire/handlers/models.py`.  They're not quite where we need them to be; for one thing cluster models would need to learn their own cluster name.  And we'd likely have to rework their `__init__` method.

Haven't fully worked it out yet, but worth noting tha

[2016-05-26 21:05] petervo commented on #126
Yes that could work, we'd need to make sure the current calls to store outside of any models are something we can switch to use a model.

[2016-05-27 19:15] ashcrow commented on #126
If I am following right it sounds like it would make better sense to:

* Collapse the proposal plugin methods down to `save`, `get`, `delete`, and `list`
* Have the plugin methods be able to figure out which kind of data it's working with
* Update models to be able to define what kind of each data it's working with

Does this sound right?

[2016-05-28 13:26] mbarnes commented on #126
@ashcrow I think so, but let's first see if passing our existing models to the `container_*` methods is even viable before we collapse the plugin methods.  We'll need to rework model initialization so they can also be used as unique keys with incomplete state.

The 2nd bullet could be just be checking for a specific model type like `class InternalConfig(Model)`.

[2016-06-09 13:41] ashcrow commented on #126
[cpd-126](https://github.com/projectatomic/commissaire/wiki/cpd-126) has been significantly updated based on the feedback here and further thoughts. Please take a look.

[2016-06-09 14:26] mbarnes commented on #126
I think the extra level of indirection by way of `StoreHandler` makes sense.

It's less clear to me now how we specify where Commissaire's internal data (settings, etc.) should go.  Or is it just always going to be etcd?  (I'm okay with that.)

If the `store_handler` argument now has a "key=value" syntax, it seems to me we could just merge `store_handler_kwargs` into it and possibly drop the `name

[2016-06-09 15:05] ashcrow commented on #126
The idea is that the `StoreHandler` would handle that by key_id. It would route via regular expressions. So if the key_id a setting of some kind it would route to whatever `StoreHandler` was registered with a matching regex.

I may not have made it as clear I was hoping in the CPD. The name value is how one would match the `store_handler` to its `store_handler_kwargs`. This would let you supply mu

[2016-06-09 18:12] mbarnes commented on #126
Yeah, I think that's what I meant.  I was thinking of multiple `store_handler` arguments, each looking something like...
[code]

If we use model instances instead of key ID strings, then the routing could just be based on the model's type instead of dealing with regular expressions.  This seems cleaner to me since it avoids having to come up with a backend-agnostic key ID syntax.  `register_store_

[2016-06-09 18:24] ashcrow commented on #126
:+1:

I like that! I'll update the CPD with that shortly at which point we should bug @petervo to take a gander :smile:.

[2016-06-09 20:25] ashcrow commented on #126
Updated the cpd.

[2016-06-10 13:24] ashcrow commented on #126
@mbarnes @petervo PTAL.

[2016-06-10 15:58] cooktheryan opened #141 "Issue during investigation"
I'm trying to join hosts to a new cluster but hitting

(commissaire)[root@ip-10-20-1-224 cloud-init]# 2016-06-10 11:55:52,291 - investigator - 26702 -  140680834725696 - INFO - 52.91.42.114 is now in investigating.
2016-06-10 11:55:52,292 - investigator - 26702 -  140680834725696 - INFO - Wrote key for 52.91.42.114
2016-06-10 11:55:52,304 - investigator - 26702 -  140680834725696 - WARNING - Getti

[2016-06-10 15:59] cooktheryan commented on #141
@mbarnes any help you can provide would be appreciated

[2016-06-10 16:21] mbarnes commented on #141
I'm familiar with the error message from recent changes, but I thought we managed to work around it.  Perhaps not... I'll investigate further.

Is this actually preventing new hosts from joining a cluster, or is it just a nuisance warning in the log?

[2016-06-10 17:03] cooktheryan commented on #141
Currently no hosts will join the cluster as its failing during the initial investigation

[2016-06-10 17:11] cooktheryan commented on #141
Interesting. The hosts appear when running commctl host list but I dont believe it runs through the process of starting and configuring services

[2016-06-10 18:09] mbarnes commented on #141
That part makes sense.  The initial investigation runs after the host is added internally.

[2016-06-10 18:19] cooktheryan opened #142 "Enable services fails if there is a line of hosts"
If 2 or more nodes are brought online at the same exact time Commissaire fails on the starting and enabling of services

[code]

[2016-06-10 18:45] ashcrow commented on #142
Thanks for the report @cooktheryan! I've edited your report for readability.

The way I read this is it looks everything else is set up correctly but, for some reason, the services fail within 3 seconds. Is that correct?

[2016-06-10 22:20] mbarnes commented on #141
Got a backtrace on the warning and found it's coming from Ansible's `Process` object.  I managed to work around the issue for our own `Process` objects, but this one's out of my reach.  Need to figure out why that's happening in the first place.
[code]

[2016-06-13 13:47] ashcrow commented on #142
@mbarnes please let @cooktheryan know when he should retry testing for this.

[2016-06-13 13:59] ashcrow commented on #141
@mbarnes don't forget to let @cooktheryan know when you think this is ready to be validated.

[2016-06-13 14:05] mbarnes commented on #141
@cooktheryan Can you try this again?

https://github.com/projectatomic/commissaire/pull/143 may have fixed the immediate problem but I'm still working on a better long-term solution.

[2016-06-13 15:56] cooktheryan commented on #141
This merge/fix works! Woot good work @mbarnes

[2016-06-13 16:06] ashcrow commented on #141
:+1: for @mbarnes :smile:

[2016-06-13 16:52] cooktheryan commented on #142
It does not appear like this is cleared up but the log provides us some useful information.

[code]

@mbarnes  It looks like if there is a "line" it doesn't handle the host definition correctly

[2016-06-13 17:43] ashcrow commented on #142
@cooktheryan Interesting!! I assume you mean the empty `INFO` line there. I have a feeling it will end up being related to pulling off the queue. I'll take a gander today if I get some time.

[2016-06-13 18:05] mbarnes commented on #141
Cool!  Closing this then and hoping I don't cause any more regressions.  :cold_sweat:

[2016-06-13 18:05] #141 closed

[2016-06-14 12:08] ashcrow commented on #142
Unfortunately I believe the empty `INFO` line is coming from Ansible itself. We are forwarding the logs from Ansible to the Python logger. Looking back over the posted log it seems like there is always an empty `INFO` line at the end of an Ansible task.

[2016-06-14 13:08] cooktheryan commented on #142
@ashcrow would running with logger in DEBUG help at all?

On Tue, Jun 14, 2016 at 8:08 AM, Stephen Milner <notifications@github.com>
wrote:

[2016-06-14 13:11] ashcrow commented on #142
@cooktheryan it should give us more information though I can't promise it would be helpful information depending on what the underlying cause ends up being.

[2016-06-14 14:05] cooktheryan commented on #142
Output of first host in line
[code]

Output of second host in line
[code]

[2016-06-14 15:05] ashcrow commented on #142
Unfortunately I can not reproduce this on my local setup. I tried with 2 Fedora 23 host nodes bootstrapping at the same time and both did so successfully. All services started without a problem. Would you be able to do a status on `docker`, `flanneld`, `kube-proxy`, and `kubelet` to see if there is any information provided?

Also, are you using Fedora, CentOS, or RHEL host nodes?

[2016-06-14 17:27] cooktheryan commented on #142
@ashcrow using RHEL atomic nodes

On Tue, Jun 14, 2016 at 11:05 AM, Stephen Milner <notifications@github.com>
wrote:

[2016-06-14 17:33] cooktheryan commented on #142
@ashcrow let me try to bootstap fedora

On Tue, Jun 14, 2016 at 1:27 PM, Ryan Cook <rcook@redhat.com> wrote:

[2016-06-14 17:37] ashcrow commented on #142
@cooktheryan OK. That would be interesting if there ends up being a difference between the two that is showing up now (but wasn't showing up before). Totally possible, but it seems odd. You are using the current `HEAD` correct?

[2016-06-14 17:41] cooktheryan commented on #142
Yes. Using last commit at master. @ashcrow it is a rhel atomic bug. Fedora
worked perfectly. Can provide paste if required.

On Tue, Jun 14, 2016 at 1:37 PM, Stephen Milner <notifications@github.com>
wrote:

[2016-06-14 17:47] ashcrow commented on #142
I verified over IRC with @cooktheryan that Fedora Atomic is working fine, while RHEL Atomic is unhappy for some reason.

[2016-06-14 20:12] mbarnes commented on #142
I think I've reproduced this on an older Fedora Atomic (version 23.79, from March).

My server log shows bootstrapping of the first host (`192.168.122.229`) completing, but with this odd warning:
[code]

And then bootstrapping of the second host (`192.168.122.167`) fails with an UNREACHABLE error even though I can SSH to it:
[code]

I'll update to the latest Fedora Atomic and see if anything chang

[2016-06-15 14:06] ashcrow commented on #126
@mbarnes @petervo bump :smile:

[2016-06-15 16:56] ashcrow commented on #142
@mbarnes that's so interesting. I can't think what the heck would cause the host nodes to act differently like this as they have no state related Commissaire. Keep us posted!

[2016-06-15 19:17] mbarnes commented on #142
I think some of it was my own test environment misconfiguration.  Still trying to hammer out the kinks and reproduce what @cooktheryan saw...

[2016-06-15 19:55] petervo commented on #126
Sry been without for a bit, this seems good to me.

[2016-06-15 21:07] mbarnes commented on #142
Now that I finally got my test environment straightened out, bootstrapping two nodes simultaneously seems to work fine for me on the latest Fedora Atomic (23.136) and the latest CentOS Atomic (7.20160610).

Don't have RHEL Atomic machines handy just yet but I'll try that next.

[2016-06-15 23:33] ashcrow commented on #126
No problem @petervo. Thanks for reviewing it!

[2016-06-15 23:37] ashcrow commented on #126
FTR we are at [Step 6 in the CPD process](https://github.com/projectatomic/commissaire/wiki/cpd-1#cpd-process). Once we have 75%+ acceptance from the current active development team we will move this to accepted.

[2016-06-16 12:53] mbarnes commented on #142
@cooktheryan What's the state of the nodes that you're bringing online?  Are they freshly installed or have they been previously bootstrapped?  (not sure if `"changed"` in the log really means changed)

I've been testing with already-bootstrapped nodes, but it occurred to me that might be relevant.

[2016-06-16 13:09] cooktheryan commented on #142
@mbarnes new node based of an amazon machine image provided by red hat

On Thu, Jun 16, 2016 at 8:53 AM, Matthew Barnes <notifications@github.com>
wrote:

[2016-06-16 13:43] ashcrow commented on #142
@mbarnes: When @cooktheryan says new node I believe he means nodes which have never been bootstrapped before.

Obligatory Princess Bride Moment Meme :grinning:

![Princess Bride Moment](https://s-media-cache-ak0.pinimg.com/736x/ec/d9/00/ecd900f3d31967e781296fae6920e496.jpg)

[2016-06-16 14:17] mbarnes commented on #142
INCONCEIVABLE!!  :older_man:

[2016-06-16 14:52] mbarnes commented on #126
Sorry for the delay.  Couple little nits:

- Perhaps change `register_store_handler` to take multiple model types for a handler.

  - Prototype: `register_store_handler ( store_handler, *model_types )`

- Under **StoreHandler Methods / Proposed Usage** the prototype needs updated.

- For the Commissaire data that doesn't make sense to store in Kubernetes, we'll need a new model class for it but sh

[2016-06-16 15:00] mbarnes opened #147 "Models should know default values"
I had some old host records in my test environment that predated the recently added `remote_user` field which defaults to `"root"`.  Because this field was missing it broke various REST endpoints because the server couldn't assemble a `Host` model from the old records.

It's likely we'll be adding more new fields to the models over time, so to future-proof the models better I think they should kno

[2016-06-16 15:03] ashcrow commented on #126
Sure, I'll update the CPD with that.

Good catch. Will update.

For your last comment I think it should be part of the plugin system. While using `etcd` will be the most common use case IMO it will be nice to let folks use something else if they want to develop it.

I will update the CPD and then mark it accepted :fireworks:

[2016-06-16 15:37] ashcrow commented on #126
@ashcrow :+1:
@petervo :+1:
@mbarnes :+1:

Current status: 100%

CPD is accepted.

[2016-06-16 17:49] mbarnes commented on #142
I set up two fresh images of RHEL Atomic 7.2.4 and bootstrapped them for the first time through Commissaire, and it worked fine.  So I'm a bit stuck now; I've not been able to reproduce this on any of the Atomic Fedora, CentOS or RHEL nodes on my local setup.

Would be lovely if Ansible offered a little more detail than just `Bad result 2`...

[2016-06-16 18:09] cooktheryan commented on #142
It looks like the latest version on aws is * 2015-11-10 16:11:46     7.2

Let me update the server and create a new AMI. It would be comical at this
point if its due to an old atomic issue.

On Thu, Jun 16, 2016 at 1:49 PM, Matthew Barnes <notifications@github.com>
wrote:

[2016-06-16 18:16] ashcrow commented on #147
@mbarnes if you have not done so already, please make a card for this work. I completely agree it is worth pursuing.

[2016-06-16 18:34] cooktheryan commented on #142
versioning--

We will need to put in docs to use at minimum Atomic 7.2.4. Bug seems to exist in 7.2

I need to find out if there is someone I can reach out to about updating the Atomic image on AWS.

[2016-06-16 18:34] cooktheryan commented on #142
This can be closed. Although docs should be updated

[2016-06-16 18:48] ashcrow commented on #142
@cooktheryan ahhh OK thanks! I'll update the docs as part of this issue then close.

[2016-06-16 19:53] #142 closed

[2016-06-16 21:07] mbarnes commented on #147
https://trello.com/c/9pQYl1Pq/

[2016-06-17 13:42] ashcrow commented on #147
Thanks @mbarnes!

[2016-07-09 21:09] ashcrow commented on #147
@mbarnes doe ls the latest changes to models adding default values resolves this issue?

[2016-07-10 13:49] mbarnes commented on #147
I'd like a test case specifically for my original problem scenario: mock load a minimal ("old") host/cluster record and verify all defaults.  I notice https://github.com/projectatomic/commissaire/commit/236914afbdc011ee7c25c0d3e542072cb6d13a84 didn't add any tests, and I don't know if any of the existing tests cover this.

Do you know offhand if we have this already?  If not I can cook something u

[2016-07-10 16:51] ashcrow commented on #147
I should have added tests but for some reason I didn't :sleepy:. PR created.

[2016-07-10 20:00] #147 closed

[2016-07-13 15:13] mbarnes commented on #126
@ashcrow I have a few tweaks to propose to the configuration parts of [cpd-126](https://github.com/projectatomic/commissaire/wiki/cpd-126), now that I'm diving into it.  Posting here so it's public.

 * Minor, but I changed to choosing the backend by module name instead of class name like we do for authentication plugins, so it can be implemented similarly.  So the config changes from `class=commi

[2016-07-13 15:18] ashcrow commented on #126
:+1:

I'd prefer this so that it is possible to use the CLI. But if it ends up adding a lot more work then we could go with *ii* as long as we document the heck out of it so it's obvious.

[2016-07-13 15:33] mbarnes commented on #126
Easy to implement, just yucky to use.  But I'll go that way.

I'd like the auth-plugin CLI to be more consistent with the store handler CLI then.  Tech debt?

[2016-07-13 16:07] ashcrow commented on #126
Found work. Throw a card in the backlog so we don't forget to update it :smile:

[2016-07-13 19:24] mbarnes commented on #126
@ashcrow: Another tweak is I'm considering is to use glob-style wildcards (*not* regex's) in the models list.  Because otherwise each and every model type would have to be listed in the config file, which is painful enough but then us adding a new type of model would break everyone's configuration.

So I'm thinking the idiom would be for the first defined handler to catch everything (`models="*"`

[2016-07-13 19:49] ashcrow commented on #126
That works for me.

[2016-08-03 16:53] mbarnes opened #177 "Uncaught KubernetesStoreHandler exception"
Encountered this while futzing around trying to get the new Kubernetes integration working.

It was ultimately due to a misconfiguration on my part but still, we should be catching and handling this exception and any others that store handlers might throw.
[code]

[2016-08-03 18:16] ashcrow opened #178 "Host node being set to host_only during bootstrapping"
Bootstrapping new host nodes is placing nodes into ``host_only`` status which is incorrect. They should be ``active`` or ``inactive``.

[2016-08-03 18:24] ashcrow commented on #178
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;zW8GHzmS&#x2F;383-1-multi-host-mgr-bug-host-node-being-set-to-host-only-during-bootstrapping"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> (1) [multi-host-mgr] [bug] Host node being set to host_only during bootstrapping</a>

[2016-08-03 18:26] ashcrow commented on #177
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;gGXh5sRN&#x2F;384-1-multi-host-mgr-bug-uncaught-kubernetesstorehandler-exception"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> (1) [multi-host-mgr] [bug] Uncaught KubernetesStoreHandler exception</a>

[2016-08-03 18:27] mbarnes commented on #177
Actually no, it's a legit bug.  The store handler expects to find metadata for a host record that hasn't been added yet.

[2016-08-03 19:25] ashcrow commented on #178
Resolved by https://github.com/projectatomic/commissaire/commit/33a5bf257e10c3286961e71e3f2876a5182d6550

[2016-08-03 19:25] #178 closed

[2016-08-03 22:34] mbarnes commented on #177
@ashcrow  It looks to me the problem is all the "save" methods in `KubernetesStoreHandler` use `PATCH`, where I believe `POST` is needed for this particular case.

This makes me wonder if we should split the `save()` method into distinct `create()` and `update()` methods so one can use `POST` and the other `PATCH` if needed (`EtcdStoreHandler` wouldn't need to distinguish).  I *think* all the call

[2016-08-04 12:29] ashcrow commented on #177
That makes sense to me. I'll code this up today.

[2016-08-04 12:30] ashcrow commented on #177
I see you already snagged the card. I'll let you run with it.

[2016-08-08 19:14] mbarnes commented on #177
Abandoning my initial idea.  The real problem is Commissaire needs to wait until bootstrapping is finished before attempting to patch the Kubernetes annotations, otherwise there's nothing yet there to patch.

[2016-08-16 20:48] #177 closed

[2016-08-17 19:38] ashcrow opened #188 "Investigator Traceback during BDD/e2e"
See: https://github.com/projectatomic/commissaire/pull/187#issuecomment-240493486

[code]

[2016-08-17 20:52] #188 closed

[2016-08-22 18:25] jberkus opened #192 "Commissaire should be easier to install on Atomic/containerized"
This task breaks down into several bits:

1. Have an official Docker Hub Commissaire image which has full metadata

2. Have an atomic install labels (and, ideally, openshift lables too) for said image

3. Have full documentation for installing on atomic

4. Have full documentation for setting up authentication, both to etcd/kubernetes and client-side.

Right now, this is kind of partially implemen

[2016-08-22 18:37] jberkus opened #193 "Adding a host should have commctl, and documentation"
There's two issues with adding a host under Commissaire right now:

1. The only documentation is a single example curl command, whose elements aren't explained.  For example, what private key are you providing?  Why?  What needs to be installed on the host before you can add it?

2. There should be a commctl command for adding a host.

[2016-08-22 18:41] cgwalters opened #194 ""atomic" is more of model, not a distribution"
Right now we have e.g. https://github.com/projectatomic/commissaire/blob/b43ca2b9b33ab91def3f0c08a47f2d6fb66fb31a/src/commissaire/oscmd/atomic.py at the same level as `fedora.py`, which is wrong, because there are Atomic Host variants of Fedora/CentOS/RHEL.

Also, the `and does not allow installing packages` part is no longer true :smile:

[2016-08-22 18:46] cgwalters commented on #194
Also, we should follow the upstream thread in https://lists.projectatomic.io/projectatomic-archives/atomic-devel/2016-August/msg00054.html and update these.

[2016-08-22 18:52] ashcrow commented on #193
I'll update the documentation with this information.

The Linux kernel, ssh, and python (due to ansible's needs). In almost all cases this ends up being 'nothing extra'.

We do have a ``commctl`` command for host additions but it looks like we missed adding it to the documentation. That's a quick and easy fix which I'll handle as well.

[2016-08-22 18:52] jberkus opened #195 "error reporting is broken in commissaire/amhm"
Failure to start this docker container interactively gives me only this as an error:

2016-08-22 18:49:33,509 - root - 10 -  139807393781504 - CRITICAL - Unable to start server: <type 'str'>

Apparently there's a bug in error logging where it's passing an object instead of a string.  Please fix.

[2016-08-22 18:53] ashcrow commented on #193
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;rM3jbT9z&#x2F;408-multi-host-mgr-update-commctl-documentation"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> [multi-host-mgr] Update commctl documentation</a>

[2016-08-22 18:54] cgwalters commented on #194
Also, comments like this are then also wrong:

[code]

[2016-08-22 18:55] ashcrow commented on #195
@mbarnes can you take a look at this one?

[2016-08-22 21:39] mbarnes commented on #195
Looking...

[2016-08-22 22:02] mbarnes commented on #195
Error logging code looks correct to me.  It's essentially printing `sys.exc_info()[1]` which should be an `Exception` instance.  My attempts to reproduce this (by corrupting my config file) produce readable error messages.

@jberkus Would you be able to tweak the code to help debug this?  Need to figure out what kind of error you're encountering.

[2016-08-22 22:04] jberkus commented on #195
The underlying error was that it couldn't open the config file at all, due to volume permissions problems.

Try starting it up pointing to a non-existant or locked config file.

[2016-08-22 22:13] ashcrow commented on #194
@cgwalters good points.

What is your recommendation for properly sensing if an OS is using the Atomic model today?

[2016-08-23 00:04] cgwalters commented on #194
Some projects [use the existence of `/run/ostree-booted`](https://github.com/openshift/openshift-ansible/blob/d365ed2df542efa9cfa96fb468761cf2242ce8e5/roles/openshift_facts/tasks/main.yml#L2) which says whether or not the system uses ostree, however we don't quite have an equivalent model for `rpm-ostree` yet, though one could take the combination of the former and the existence of the latter in `

[2016-08-23 01:52] jberkus opened #196 ""connection reset by peer" when trying to use commissaire in container"
[code]

[2016-08-23 01:59] jberkus commented on #196
Never mind, this is actually a documentation issue.

[2016-08-23 01:59] #196 closed

[2016-08-23 02:00] jberkus opened #197 "created commissaire cluster, now what?"
Followed instructions through the end of "getting started".  However:

[code]

clearly there's more setup required, but it's not documented.

[2016-08-23 02:48] mbarnes commented on #194
I thought the plan was to indicate atomic in `/etc/os-release` by way of the `VARIANT` field.
https://bugzilla.redhat.com/show_bug.cgi?id=1200122#c36

Has that not yet propagated?  Seems much more straight-forward.

[2016-08-23 16:03] ashcrow commented on #193
@jberkus PTAL https://github.com/projectatomic/commissaire/pull/198

[2016-08-23 16:10] ashcrow commented on #194
I think jlebon was looking into that @mbarnes.

@jlebon do you know if that is still on going?

[2016-08-23 16:15] ashcrow commented on #195
I believe this is a valid issue, however I wasn't able to reproduce it on Fedora 24. At least not with a non-existent file:

[code]

[2016-08-23 16:21] jlebon commented on #194
They're two separate issues. The RHBZ above was for setting the `VARIANT_ID` to `atomic.host`. Though it seems like this hasn't taken effect yet (as can be seen from the last comment there and also https://pagure.io/fedora-atomic/issue/6).

What I worked on was a feature that adds the tree version number (e.g. `7.2.6`) to the `VERSION` and `PRETTY_NAME` fields.

[2016-08-23 17:30] ashcrow commented on #194
@jlebon thanks for the clarification!

[2016-08-23 19:30] jberkus commented on #195
Centos Atomic Host continuous.  I'll set up a test case.

[2016-08-23 22:47] #193 closed

[2016-08-24 15:08] ashcrow commented on #194
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;vmsbQPrs&#x2F;411-2-multi-host-mgr-clarify-atomic-as-a-model"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> (2) [multi-host-mgr] Clarify Atomic as a model</a>

[2016-08-24 20:52] ashcrow commented on #197
I think you found a bug in recent commit. I was able to reproduce this and identify an issue where the backend store handler is failing back to the default (which will have no data).

cc @mbarnes

[2016-08-24 20:59] ashcrow commented on #197
Ah, never mind. It's that the documentation PR hasn't been brought in yet.

[2016-08-24 21:07] jberkus commented on #197
@ashcrow thanks.  when you update the docs, I'll give it another try.

[2016-08-24 21:43] mbarnes commented on #197
Docs are updated now (in git at least), via #200.

[2016-08-26 14:14] #194 closed

[2016-10-18 13:37] ashcrow opened #26 "Provide a Configurable Logging Mechanism"
In the MVP version of commissaire we had configurable logging. `commissaire` should provide a common configurable logging mechanism for other `commissaire` components to use.

MVP Examples:
- https://github.com/projectatomic/commissaire-mvp/blob/master/src/commissaire/script.py#L318-L330
- https://github.com/projectatomic/commissaire-mvp/blob/master/conf/logger.json

[2016-10-18 14:26] ashcrow opened #27 "Port Model Validation to use jsonschema"
Our current model implementation uses a custom validation scheme which can be confusing to folks just jumping in to the code. `jsonschema` provides a standard way to validate data. Since our underlying transport ends up being `json` it seems like a perfect fit as noted by @mbarnes.

Library: https://pypi.python.org/pypi/jsonschema
## Cluster Model Schema Example

**Note**: The example isn't tested

[2016-10-18 19:20] ashcrow opened #30 "Update Documentation Based On TODO's"
Our [documentation](https://github.com/projectatomic/commissaire/tree/master/doc) has a number of TODO's defined that need to be addressed. This includes wordsmithing areas that flow awkwardly.

[2016-11-11 19:22] ashcrow opened #51 "Store ContainerManager Configuration"
As a developer on Commissaire
I would like the ``StorageService`` to house ``ContainerManager`` configuration
so that I am able to query/update configuration for clusters.

**Acceptance Criteria**

- Verify that a model is created for ContainerManager configuration
- Verify that ``StorageService`` can store ContainerManager configuration
- Verify documentation is updated in the main repo

[2016-11-14 17:21] #26 closed, assigned to nobody

[2016-11-16 16:18] #51 closed, assigned to ashcrow

[2016-11-28 19:43] ashcrow opened #61 "Design How Host Data Can Come From Other Systems"
In support of allowing other systems to provide host data in a brown field environment
I would like ``Host`` to be abstracted in such a way that it may be from N number of horizontal systems
so that I do not have to have multiple copies of host inventories.

[2016-11-30 15:06] #61 closed, assigned to ashcrow

[2016-12-01 20:03] ashcrow opened #64 "Add Source Field To Host Model"
As a user of commissaire
I would like to have source added to the ``Host`` model
so that I can define when a ``Host`` is owned by an external system.

Part of [CPD-61](http://commissaire.readthedocs.io/en/latest/cpd/61.html)

[2016-12-01 22:30] #64 closed, assigned to ashcrow

[2017-02-27 19:18] mbarnes opened #98 "Make ContainerManagerError a subclass of RemoteProcedureCallError"
I noted this somewhere in `commissaire-http`, but just as a reminder to myself...

`ContainerManagerError` should be derived from `RemoteProcedureCallError` so it can be specifically caught in client-side `try ... except` blocks.

Will require additional logic in `BusMixin` and `CommissaireService`.  Just follow the example set by `StorageLookupError`.

[2017-03-02 17:09] #98 closed, assigned to mbarnes

[2017-03-02 18:34] ashcrow opened #101 "Encrypt Keys In Storage"
Right now we are holding keys the same way that secrets are used in some container managers. I'd like us to update our key storage to add a layer of encryption/safety.

[2017-03-14 15:47] mbarnes opened #112 "Integrate Minishift into E2E test suite"
Investigate the possibility of integrating [Minishift](https://www.openshift.org/minishift/) into Commissaire's end-to-end test suite.

From the [March 14 IRC meeting](https://gist.github.com/mbarnes/932ae98e8e847bdde3c337fd2c1736ff):
[code]

CC @ashcrow  @gbraad  Can you elaborate further?

[2017-04-04 16:32] timlnx opened #123 "Development Setup docs link to wrong DEVEL file"
Under http://commissaire.readthedocs.io/en/latest/development.html#development-setup ([development.rst](https://github.com/projectatomic/commissaire/blob/master/doc/development.rst))

Which is a 404 page.

I think that should probably link to https://github.com/projectatomic/commissaire/blob/master/DEVEL.rst instead.

[2017-04-04 17:48] #123 closed, assigned to nobody

[2017-04-10 16:15] timlnx opened #128 "walkthrough.rst: broken `make-mime.py` link"
Under [Automatic Registration](http://commissaire.readthedocs.io/en/latest/walkthrough.html#automatic-registration) there is a link to `make-mime.py` but that link is broken. D'oh!

[code]

I'm not sure what the correct location of this script is. I tried trimming items off of the URL but they all weren't found.

[2017-04-10 19:11] timlnx opened #129 "[docs/question] Where is commissaire going with distribution and should the documentation include 'enterprisey' installation instructions"
# Docs

The documentation is missing a clear **How to install and deploy** section. The closest thing to that I can find right now is in [DEVEL.rst](https://github.com/projectatomic/commissaire/blob/master/DEVEL.rst). Which is not technically part of the documentation. It's a file in the project github repo that's linked from the documentation. The DEVEL.rst file (rightly so) does not give clear i

[2017-04-25 12:18] #128 closed, assigned to ashcrow

[2017-05-11 14:26] mbarnes opened #135 "Read service configuration from etcd"
Thinking through a realistic deployment of Commissaire to a cloud service, and coming up to speed on best practices, I realized using local config files exclusively is not ideal for containerized services.

In the MVP phase last year we initially did read configuration from `etcd`.  But when we made data storage pluggable to accommodate Kubernetes, I assumed pluggable data storage also meant plugg

[2017-05-16 13:56] #135 closed, assigned to mbarnes

[2017-10-30 14:50] #112 closed, assigned to nobody

[2018-03-01 17:51] cgwalters opened #204 "NOTICE: This repository is scheduled to be archived"
See https://pagure.io/atomic-wg/issue/428

If no reply is received to this issue (or on the above ticket),
this repository will be archived.